# Week 7: cleaning data and text analysis 
### Next week will be the final week and we will do a step by step stock analysis

In [4]:
import numpy as np
import pandas as pd
import pandas.io.sql as psql
import sqlite3 as sql
import string
import math
from math import radians, sin, cos, acos
from tqdm import tqdm
import requests
from itertools import zip_longest

In [5]:
contacts_n = pd.read_csv('upasana-can-you-send-to-alex-if.csv')
tickets_n = pd.read_csv("hubspot-crm-exports-deals-and-tickets-hopefully-ful-2019-07-30.csv")
# I was trying to find cv data... :(

In [6]:
contacts_n.head(5)

,Deal ID,Contact ID,Deal Name,First Name,Last Name,Job Profile ID,Postal Code,Postcode,Maximum salary,Minimum salary,Job talent pools,Talent Pools,Preferred role types,Contract Type,Preferred contract,Employment type,Preferred employment,Self-assessed seniority,Commute time,Car commute
0,846124823,1852051,Emily Acton-Edmiston as Marketing Assistant fo...,Emily,Acton-Edmiston,962415.0,SW6 6AF,E1W 1AA,30000.0,NaN,marketing: midlevelmarketing: junior,NaN,NaN,permanent,NaN,full-time,NaN,NaN,NaN,NaN
1,846106673,1855359,Sophia Colls as Marketing Assistant for RPC Law,Sophia,Colls,962655.0,E14 8DJ,E1W 1AA,30000.0,NaN,marketing: midlevelmarketing: junior,NaN,NaN,permanent,NaN,full-time,NaN,NaN,NaN,NaN
2,846099398,1854751,Jae Chun as Marketing Assistant for RPC Law,Jae,Chun,962501.0,NaN,E1W 1AA,30000.0,NaN,marketing: midlevelmarketing: junior,NaN,NaN,permanent,NaN,full-time,NaN,NaN,NaN,NaN
3,822782358,1675301,Joe Griffiths-Holland as Paralegal for DWF,Joe,Griffiths-Holland,929510.0,NaN,M3 3AA,37000.0,NaN,paralegal: senior,NaN,NaN,permanent,permanent,full-time,full-time,NaN,NaN,NaN
4,845714051,1843751,J Uvaraju as Marketing Assistant for RPC Law,J,Uvaraju,960436.0,NaN,E1W 1AA,30000.0,NaN,marketing: midlevelmarketing: junior,NaN,NaN,permanent,NaN,full-time,NaN,NaN,NaN,NaN

In [7]:
tickets_n.head(5)

,Deal ID,Ticket ID,Deal Name,Ticket name,Job Profile ID,Category,Sub-Category,Ticket description
0,900472877,38329928,Eugenie Smit as Legal Secretary for RPC Law,"Re: New Opportunity: Legal Secretary , law, To...",1160775.0,Not Interested,Working Style,"Hi Marja,Thank you for your e-mail. Unfortuna..."
1,905116610,38299690,Leah Caroo as Legal Secretary for RPC Law,"Re: Leah, a new opportunity just in: Evening ...",1183092.0,Not Interested,Not Looking,Dear MariaThank you for your email. I am curr...
2,883804784,38297009,Anna Jankowska as Management Information Assis...,Re: New Opportunity: Management Information As...,1012391.0,Not Interested,Location,"Hi MarjaThank you for your email, but I am loo..."
3,879721032,38295796,Sarah Williams as Management Information Assis...,Sarah Williams: New Opportunity: Management In...,1006716.0,Not Interested,Employment Type; Location,"Hi Marja,I did receive your other email. Than..."
4,879723079,38265085,Maria Ines Gomes as Management Information Ass...,Re: New Opportunity: Management Information As...,1007085.0,Not Interested,Not Looking,"Dear Marja,Thank you very much for your email ..."

We want to merge these so that we have the information of each complaint

In [11]:
df_cd = pd.merge(contacts_n, tickets_n, how='inner', on= "Job Profile ID")
df_cd.head(5)

,Deal ID_x,Contact ID,Deal Name_x,First Name,Last Name,Job Profile ID,Postal Code,Postcode,Maximum salary,Minimum salary,...,Self-assessed seniority,Commute time,Car commute,Deal ID_y,Ticket ID,Deal Name_y,Ticket name,Category,Sub-Category,Ticket description
0,876413277,2225601,Claire Warner as Administrator for Kennedys,Claire,Warner,1001673.0,CV11 4RL,B3 3PU,18000.0,NaN,...,NaN,NaN,NaN,876413277,36295480,Claire Warner as Administrator for Kennedys,RE: New Opportunity: Legal Administrator (Admi...,Not Interested,Location,Hi MarjaThank you for your email.Unforunately ...
1,863554283,2011151,Julia Soltysova as Marketing Assistant for RPC...,Julia,Soltysova,981427.0,RM1 2SJ,E1W 1AA,30000.0,NaN,...,NaN,NaN,NaN,863554283,35920574,Julia Soltysova as Marketing Assistant for RPC...,"Re: Julia, a new opportunity just in: Digital ...",Not Interested,Not Looking,"Hi Marja,Thank you very much for your email an..."
2,872706114,2172757,Warren Bristow as Paralegal for Kennedys,Warren,Bristow,992139.0,SE20 7WB,EC3M 5AD,30000.0,NaN,...,NaN,NaN,NaN,872706114,36510590,Warren Bristow as Paralegal for Kennedys,Re: New Opportunity: Paralegal - Insurance (Pa...,Not Interested,Missing Qualification,"Hi Maria,Apologies for the late reply but I've..."
3,896820093,2389751,Maxine Tull as Legal Secretary for RPC Law,Maxine,Tull,1158349.0,DA15 7NB,E1W 1AA,35000.0,NaN,...,NaN,NaN,NaN,896820093,37791414,Maxine Tull as Legal Secretary for RPC Law,"Re: New Opportunity: Legal Secretary , law, To...",Not Interested,Employment Type,"Hi Marja, My apologies for not coming back to ..."
4,868710273,2070951,Beata Nowak as Administrator for DWF,Beata,Nowak,985828.0,M38 9HF,M3 3AA,22000.0,NaN,...,NaN,NaN,NaN,868710273,35744220,Beata Nowak as Administrator for DWF,"Re: New Opportunity: Administrator , law, Manc...",Not Interested,Missing skills,"Hi Maria,I am not sure if my skills are enough..."

In [194]:
df_cd.info()
# that's bad...:(

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269 entries, 0 to 268
Data columns (total 27 columns):
Deal ID_x                  269 non-null int64
Contact ID                 269 non-null int64
Deal Name_x                269 non-null object
First Name                 269 non-null object
Last Name                  269 non-null object
Job Profile ID             269 non-null float64
Postal Code                210 non-null object
Postcode                   269 non-null object
Maximum salary             269 non-null float64
Minimum salary             41 non-null float64
Job talent pools           268 non-null object
Talent Pools               100 non-null object
Preferred role types       23 non-null object
Contract Type              269 non-null object
Preferred contract         175 non-null object
Employment type            269 non-null object
Preferred employment       187 non-null object
Self-assessed seniority    17 non-null object
Commute time               34 non-null float64
Car commute                20 non-null object
Deal ID_y                  269 non-null int64
Ticket ID                  269 non-null int64
Deal Name_y                269 non-null object
Ticket name                269 non-null object
Category                   269 non-null object
Sub-Category               269 non-null object
Ticket description         269 non-null object
dtypes: float64(4), int64(4), object(19)
memory usage: 58.8+ KB

In [195]:
df_cd.dropna()
# we only have pieces of data....

,Deal ID_x,Contact ID,Deal Name_x,First Name,Last Name,Job Profile ID,Postal Code,Postcode,Maximum salary,Minimum salary,...,Self-assessed seniority,Commute time,Car commute,Deal ID_y,Ticket ID,Deal Name_y,Ticket name,Category,Sub-Category,Ticket description
14,867756100,1643801,Grace Howell as Facilities Assistant for DWF,Grace,Howell,984158.0,CF3 0NE,BS1 6HU,18000.0,16000.0,...,experienced,60.0,False,867756100,35744955,Grace Howell as Facilities Assistant for DWF,"Re: Grace, RE: New Opportunity: Client Support...",Not Interested,Not interested in the role,Hi MarjaThank you for your email. I have looke...
52,872328884,2151056,Kate Stephens as Administrator for DWF,Kate,Stephens,989383.0,WN7 3BQ,M3 3AA,22000.0,19000.0,...,beginner,30.0,True,872328884,36280218,Kate Stephens as Administrator for DWF,Re: New Opportunity: File Management Administr...,Not Interested,Location,Hi MarjaThanks for the interest but I'm not lo...
70,874034602,670501,Adrian Cox as Litigation Assistant for Kennedys,Adrian,Cox,995636.0,Sk5 6ux,M1 6EU,23000.0,28000.0,...,senior,60.0,False,874034602,36300396,Adrian Cox as Litigation Assistant for Kennedys,Re: New Opportunity: Litigation Assistant - Cy...,Not Interested,Salary,"Hi ,This is something I’d be interested in, ca..."
152,879977199,2253760,Rabia Begum as Administrator for Kennedys,Rabia,Begum,1003797.0,B249da,B3 3PU,18000.0,16000.0,...,senior,15.0,True,879977199,37073767,Rabia Begum as Administrator for Kennedys,Re: New Opportunity: Legal Administrator (Admi...,Not Interested,Working Style,Hi MarjaI did not receive you last email howev...
216,879994892,2257505,Cheryl Cooke as Administrator for Kennedys,Cheryl,Cooke,1005156.0,CV12 0EH,B3 3PU,18000.0,18000.0,...,senior,15.0,True,879994892,37110847,Cheryl Cooke as Administrator for Kennedys,Re: New Opportunity: Legal Administrator (Admi...,Not Interested,Location,"Hi MariaThank you for the email, but I am not ..."

In [196]:
df_cd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269 entries, 0 to 268
Data columns (total 27 columns):
Deal ID_x                  269 non-null int64
Contact ID                 269 non-null int64
Deal Name_x                269 non-null object
First Name                 269 non-null object
Last Name                  269 non-null object
Job Profile ID             269 non-null float64
Postal Code                210 non-null object
Postcode                   269 non-null object
Maximum salary             269 non-null float64
Minimum salary             41 non-null float64
Job talent pools           268 non-null object
Talent Pools               100 non-null object
Preferred role types       23 non-null object
Contract Type              269 non-null object
Preferred contract         175 non-null object
Employment type            269 non-null object
Preferred employment       187 non-null object
Self-assessed seniority    17 non-null object
Commute time               34 non-null float64
Car commute                20 non-null object
Deal ID_y                  269 non-null int64
Ticket ID                  269 non-null int64
Deal Name_y                269 non-null object
Ticket name                269 non-null object
Category                   269 non-null object
Sub-Category               269 non-null object
Ticket description         269 non-null object
dtypes: float64(4), int64(4), object(19)
memory usage: 58.8+ KB

Either we get rid of these columns or we find a way to deal with it

This is usually a bad idea, but for now lets forget about it...

## Post codes 
### You don't  need to know exactly how this code works but ill try to explain
##### I am sure there are ways to shorten the code

In [12]:
df_c = pd.concat([df_cd["Postal Code"], df_cd["Postcode"]], axis=1)  # List of all unique postcodes

postal code
postcode

In [13]:
df_c

    Postal Code  Postcode
0      CV11 4RL    B3 3PU
1       RM1 2SJ   E1W 1AA
2      SE20 7WB  EC3M 5AD
3      DA15 7NB   E1W 1AA
4       M38 9HF    M3 3AA
..          ...       ...
264         NaN    M3 3AA
265         NaN    M1 6EU
266     IG3 9PH  EC3M 5AD
267         NaN   E1W 1AA
268      HA54sx  EC3M 5AD

[269 rows x 2 columns]

In [16]:
def distance_between_postcodes(postcode1, postcode2):  # distance between post_codes
    if type(postcode1) == str: 
        postcode1 = postcode1.replace(' ', '').lower()
    else:
        return -1
    
    if type(postcode2) == str:
        postcode2 = postcode2.replace(' ', '').lower()
    else:
        return -2
    
    if postcode1 and postcodes_info.index.contains(postcode1) \
            and postcode2 and postcodes_info.index.contains(postcode2):
        pc1_info = postcodes_info.loc[postcode1.replace(' ', '').lower()]
        pc2_info = postcodes_info.loc[postcode2.replace(' ', '').lower()]

        slat = radians(float(pc1_info['latitude']))  # input("Starting latitude: ")
        slon = radians(float(pc1_info['longitude']))  # input("Ending longitude: ")
        elat = radians(float(pc2_info['latitude']))  # input("Starting latitude: ")
        elon = radians(float(pc2_info['longitude']))  # input("Ending longitude: ")

        dist = 6371.01 * acos(sin(slat)*sin(elat) + cos(slat)*cos(elat)*cos(slon - elon))

        return dist
    elif not postcodes_info.index.contains(postcode1):
        return -3  # error cases
    elif not postcodes_info.index.contains(postcode2):
        return -4  # error cases


def grouper(n, iterable, fillvalue=None):
    "grouper(3, 'ABCDEFG', 'x') --> ABC DEF Gxx"
    args = [iter(iterable)] * n
    return zip_longest(fillvalue=fillvalue, *args)


results = []
unique_postcodes = []
for a in range(len(df_c)):
    pc1 = df_c["Postal Code"][a]
    pc2 = df_c["Postcode"][a]
    unique_postcodes.append(pc1)
    unique_postcodes.append(pc2)
    unique_postcodes = list(set(unique_postcodes))

for pcs in tqdm(list(grouper(90, unique_postcodes))):   #range((unique_postcodes.shape[0] // 100)+1)): the bar at bottom
    st = {"postcodes": pcs}
    r = requests.post(url='http://api.postcodes.io/postcodes', data=st)  # api gets data from postcodes
    results.extend(r.json()['result'])
	

    postcodes_info = pd.DataFrame(results)
    postcodes_info = postcodes_info.apply(lambda x: pd.Series(x['result']), axis=1)
    postcodes_info = postcodes_info.dropna(subset=['postcode']).drop_duplicates(subset=['postcode'])
    postcodes_info = postcodes_info.set_index(postcodes_info['postcode'].str.replace(' ', '').str.lower())

100%|████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:01<00:00,  2.60it/s]

APIs are a set of functions and procedures that allow for the creation of applications that access data and features of other applications, services or operating system.

In this case we are accessing software postcodes.io

Many software companies have apis
But, for many you have to pay

In [14]:
import webbrowser
webbrowser.open('https://developers.google.com/youtube/registering_an_application')
webbrowser.open('https://developer.twitter.com/en/docs/tweets/search/overview/premium')

True

#### What was the output?

In [17]:
postcodes_info.head(5)

,admin_county,admin_district,admin_ward,ccg,ced,codes,country,eastings,european_electoral_region,incode,...,nhs_ha,northings,nuts,outcode,parish,parliamentary_constituency,postcode,primary_care_trust,quality,region
postcode,,,,,,,,,,,,,,,,,,,,,
w54ur,None,Ealing,Northfield,NHS Ealing,None,"{'admin_district': 'E09000009', 'admin_county'...",England,517099.0,London,4UR,...,London,178854.0,Ealing,W5,"Ealing, unparished area","Ealing, Southall",W5 4UR,Ealing,1.0,London
ng93lp,Nottinghamshire,Broxtowe,Beeston North,NHS Nottingham West,Bramcote & Beeston North,"{'admin_district': 'E07000172', 'admin_county'...",England,451733.0,East Midlands,3LP,...,East Midlands,338142.0,South Nottinghamshire,NG9,"Broxtowe, unparished area",Broxtowe,NG9 3LP,Nottinghamshire County Teaching,1.0,East Midlands
m220by,None,Manchester,Woodhouse Park,NHS Manchester,None,"{'admin_district': 'E08000003', 'admin_county'...",England,382712.0,North West,0BY,...,North West,386602.0,Manchester,M22,"Manchester, unparished area",Wythenshawe and Sale East,M22 0BY,Manchester Teaching,1.0,North West
ha89rf,None,Barnet,Hale,NHS Barnet,None,"{'admin_district': 'E09000003', 'admin_county'...",England,520234.0,London,9RF,...,London,192415.0,Barnet,HA8,"Barnet, unparished area",Hendon,HA8 9RF,Barnet,1.0,London
e153ef,None,Newham,West Ham,NHS Newham,None,"{'admin_district': 'E09000025', 'admin_county'...",England,539669.0,London,3EF,...,London,183615.0,Hackney and Newham,E15,"Newham, unparished area",West Ham,E15 3EF,Newham,1.0,London

In [19]:
df_cd["distance"] = df_c.apply(lambda y: distance_between_postcodes(y['Postal Code'], y['Postcode']), axis=1)

C:\Users\bluey\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: The 'contains' method is deprecated and will be removed in a future version. Use 'key in index' instead of 'index.contains(key)'
  if sys.path[0] == '':
C:\Users\bluey\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: The 'contains' method is deprecated and will be removed in a future version. Use 'key in index' instead of 'index.contains(key)'
  del sys.path[0]

In [20]:
df_cd.head(5)

,Deal ID_x,Contact ID,Deal Name_x,First Name,Last Name,Job Profile ID,Postal Code,Postcode,Maximum salary,Minimum salary,...,Commute time,Car commute,Deal ID_y,Ticket ID,Deal Name_y,Ticket name,Category,Sub-Category,Ticket description,distance
0,876413277,2225601,Claire Warner as Administrator for Kennedys,Claire,Warner,1001673.0,CV11 4RL,B3 3PU,18000.0,NaN,...,NaN,NaN,876413277,36295480,Claire Warner as Administrator for Kennedys,RE: New Opportunity: Legal Administrator (Admi...,Not Interested,Location,Hi MarjaThank you for your email.Unforunately ...,30.823440
1,863554283,2011151,Julia Soltysova as Marketing Assistant for RPC...,Julia,Soltysova,981427.0,RM1 2SJ,E1W 1AA,30000.0,NaN,...,NaN,NaN,863554283,35920574,Julia Soltysova as Marketing Assistant for RPC...,"Re: Julia, a new opportunity just in: Digital ...",Not Interested,Not Looking,"Hi Marja,Thank you very much for your email an...",19.910579
2,872706114,2172757,Warren Bristow as Paralegal for Kennedys,Warren,Bristow,992139.0,SE20 7WB,EC3M 5AD,30000.0,NaN,...,NaN,NaN,872706114,36510590,Warren Bristow as Paralegal for Kennedys,Re: New Opportunity: Paralegal - Insurance (Pa...,Not Interested,Missing Qualification,"Hi Maria,Apologies for the late reply but I've...",11.442704
3,896820093,2389751,Maxine Tull as Legal Secretary for RPC Law,Maxine,Tull,1158349.0,DA15 7NB,E1W 1AA,35000.0,NaN,...,NaN,NaN,896820093,37791414,Maxine Tull as Legal Secretary for RPC Law,"Re: New Opportunity: Legal Secretary , law, To...",Not Interested,Employment Type,"Hi Marja, My apologies for not coming back to ...",14.457553
4,868710273,2070951,Beata Nowak as Administrator for DWF,Beata,Nowak,985828.0,M38 9HF,M3 3AA,22000.0,NaN,...,NaN,NaN,868710273,35744220,Beata Nowak as Administrator for DWF,"Re: New Opportunity: Administrator , law, Manc...",Not Interested,Missing skills,"Hi Maria,I am not sure if my skills are enough...",12.895455

In [204]:
df_cd.columns

Index(['Deal ID_x', 'Contact ID', 'Deal Name_x', 'First Name', 'Last Name',
       'Job Profile ID', 'Postal Code', 'Postcode', 'Maximum salary',
       'Minimum salary', 'Job talent pools', 'Talent Pools',
       'Preferred role types', 'Contract Type', 'Preferred contract',
       'Employment type', 'Preferred employment', 'Self-assessed seniority',
       'Commute time', 'Car commute', 'Deal ID_y', 'Ticket ID', 'Deal Name_y',
       'Ticket name', 'Category', 'Sub-Category', 'Ticket description',
       'distance'],
      dtype='object')

In [22]:
df_cd2 = df_cd.drop(['First Name','Deal Name_x','Ticket name', 'Deal Name_y','Last Name', 'Contact ID','Postal Code','Commute time', 'Car commute', 'Deal ID_y', 'Ticket ID', 'Postcode', 'Deal ID_x'], axis=1)
df_cd2.head(5)

,Job Profile ID,Maximum salary,Minimum salary,Job talent pools,Talent Pools,Preferred role types,Contract Type,Preferred contract,Employment type,Preferred employment,Self-assessed seniority,Category,Sub-Category,Ticket description,distance
0,1001673.0,18000.0,NaN,Administration: midlevelAdministration: senior...,NaN,NaN,permanent,permanent,full-time,full-time,NaN,Not Interested,Location,Hi MarjaThank you for your email.Unforunately ...,30.823440
1,981427.0,30000.0,NaN,marketing: midlevelmarketing: junior,marketing: junior,NaN,permanent,permanent,full-time,full-time; part-time,NaN,Not Interested,Not Looking,"Hi Marja,Thank you very much for your email an...",19.910579
2,992139.0,30000.0,NaN,Paralegal: midlevelParalegal: junior,customer-service: midleveladministration: junior,NaN,permanent,permanent; contract,full-time,part-time,NaN,Not Interested,Missing Qualification,"Hi Maria,Apologies for the late reply but I've...",11.442704
3,1158349.0,35000.0,NaN,Team Support: 1-1000 years,NaN,NaN,permanent,permanent,full-time,full-time; part-time,NaN,Not Interested,Employment Type,"Hi Marja, My apologies for not coming back to ...",14.457553
4,985828.0,22000.0,NaN,administration: junioradministration: midlevel...,NaN,NaN,permanent,permanent; contract,full-time,full-time; part-time,NaN,Not Interested,Missing skills,"Hi Maria,I am not sure if my skills are enough...",12.895455

In [31]:
df_cd2["Job talent pools"][5]

'Financial Accounting: juniorData Analysis: juniorFacilities: juniorData & Information Management: juniorParalegal: junior'

In [25]:
df_cd2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269 entries, 0 to 268
Data columns (total 12 columns):
Job Profile ID          269 non-null float64
Maximum salary          269 non-null float64
Job talent pools        268 non-null object
Talent Pools            100 non-null object
Contract Type           269 non-null object
Preferred contract      269 non-null object
Employment type         269 non-null object
Preferred employment    269 non-null object
Category                269 non-null object
Sub-Category            269 non-null object
Ticket description      269 non-null object
distance                269 non-null float64
dtypes: float64(3), object(9)
memory usage: 37.3+ KB

In [24]:
df_cd2['Preferred contract'].fillna('permanent; contract', inplace=True)
df_cd2['Preferred employment'].fillna('full-time', inplace=True)
df_cd2.drop(['Self-assessed seniority', 'Preferred role types','Minimum salary'],axis=1, inplace=True)

In [32]:
def word_share(sen1, sen2):
    score = 0
    if (type(sen1) == str) and (type(sen2) == str):
        sen1 = sen1.lower().split()
        sen2 = sen2.lower().split()
        for s in sen1:
            if s in sen2:
                score += 1
    return score

def word_share2(sen1, sen2):
    if (type(sen1) == str) and (type(sen2) == str):
        if sen1 in sen2:
            return 1
    return 0
    
df_cd2['talent'] = df_cd2.apply(lambda x: word_share(x['Job talent pools'],x['Talent Pools']), axis=1)
df_cd2['emploi'] = df_cd2.apply(lambda x: word_share2(x['Employment type'],x['Preferred employment']), axis=1)

df_cd2.drop(['Job talent pools', 'Talent Pools','Employment type','Preferred employment'],axis=1, inplace=True)

In [33]:
df_cd2.head(5)

,Job Profile ID,Maximum salary,Contract Type,Preferred contract,Category,Sub-Category,Ticket description,distance,talent,emploi
0,1001673.0,18000.0,permanent,permanent,Not Interested,Location,Hi MarjaThank you for your email.Unforunately ...,30.823440,0,1
1,981427.0,30000.0,permanent,permanent,Not Interested,Not Looking,"Hi Marja,Thank you very much for your email an...",19.910579,2,1
2,992139.0,30000.0,permanent,permanent; contract,Not Interested,Missing Qualification,"Hi Maria,Apologies for the late reply but I've...",11.442704,1,0
3,1158349.0,35000.0,permanent,permanent,Not Interested,Employment Type,"Hi Marja, My apologies for not coming back to ...",14.457553,0,1
4,985828.0,22000.0,permanent,permanent; contract,Not Interested,Missing skills,"Hi Maria,I am not sure if my skills are enough...",12.895455,0,1

### repeated words have two options turn them to ints or into variables

In [34]:
#1

df_cd4= df_cd2.copy()
df_cd4['Preferred contract'] = pd.Categorical(df_cd4['Preferred contract'])
df_cd4['Preferred contract'] = df_cd4['Preferred contract'].cat.codes
df_cd4

,Job Profile ID,Maximum salary,Contract Type,Preferred contract,Category,Sub-Category,Ticket description,distance,talent,emploi
0,1001673.0,18000.0,permanent,1,Not Interested,Location,Hi MarjaThank you for your email.Unforunately ...,30.823440,0,1
1,981427.0,30000.0,permanent,1,Not Interested,Not Looking,"Hi Marja,Thank you very much for your email an...",19.910579,2,1
2,992139.0,30000.0,permanent,2,Not Interested,Missing Qualification,"Hi Maria,Apologies for the late reply but I've...",11.442704,1,0
3,1158349.0,35000.0,permanent,1,Not Interested,Employment Type,"Hi Marja, My apologies for not coming back to ...",14.457553,0,1
4,985828.0,22000.0,permanent,2,Not Interested,Missing skills,"Hi Maria,I am not sure if my skills are enough...",12.895455,0,1
...,...,...,...,...,...,...,...,...,...,...
264,986681.0,22000.0,permanent,2,Not Interested,Location,"Hi Marja,I live in London so unfortunately, th...",-1.000000,0,1
265,995954.0,23000.0,permanent,1,Unsubscribed,GDPR,I am no longer working within the legal field ...,-1.000000,0,1
266,757219.0,30000.0,permanent,2,Not Interested,Practice Area,Hi MarjaThank you for your email but I am afra...,14.270464,1,1
267,983589.0,35000.0,permanent,2,Not Interested,Employment Type; Marketing,"Hi Marja,I am currently on a contract at the m...",-1.000000,0,1
268,757227.0,30000.0,permanent,1,Not Interested,Practice Area,"Hi Marja,Thank you for your email.Unfortunatel...",22.847645,0,1

In [211]:
del df_cd4

In [39]:
#2

df_cd3 = pd.get_dummies(df_cd2, prefix=['job', 'sector','reason1', 'reason2'], columns=['Contract Type', 'Preferred contract','Category','Sub-Category'])

In [40]:
df_cd3

,Job Profile ID,Maximum salary,Ticket description,distance,talent,emploi,job_permanent,job_temp,sector_contract,sector_permanent,...,reason2_Not interested in the role,reason2_Outdated Information,reason2_Outdated Information; Location,reason2_Outdated Information; Mismatch Role Type,reason2_Practice Area,reason2_Role seniority,reason2_Salary,reason2_Salary; Outdated Information,reason2_Working Style,reason2_Working Style; Location
0,1001673.0,18000.0,Hi MarjaThank you for your email.Unforunately ...,30.823440,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,981427.0,30000.0,"Hi Marja,Thank you very much for your email an...",19.910579,2,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,992139.0,30000.0,"Hi Maria,Apologies for the late reply but I've...",11.442704,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1158349.0,35000.0,"Hi Marja, My apologies for not coming back to ...",14.457553,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,985828.0,22000.0,"Hi Maria,I am not sure if my skills are enough...",12.895455,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,986681.0,22000.0,"Hi Marja,I live in London so unfortunately, th...",-1.000000,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
265,995954.0,23000.0,I am no longer working within the legal field ...,-1.000000,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
266,757219.0,30000.0,Hi MarjaThank you for your email but I am afra...,14.270464,1,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
267,983589.0,35000.0,"Hi Marja,I am currently on a contract at the m...",-1.000000,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
268,757227.0,30000.0,"Hi Marja,Thank you for your email.Unfortunatel...",22.847645,0,1,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0

In [248]:
# normalize data

In [41]:
from sklearn import preprocessing

In [42]:
df_cd3['Maximum salary']

0      18000.0
1      30000.0
2      30000.0
3      35000.0
4      22000.0
        ...
264    22000.0
265    23000.0
266    30000.0
267    35000.0
268    30000.0
Name: Maximum salary, Length: 269, dtype: float64

In [43]:
x = df_cd3['Maximum salary'].values.astype(float)

In [45]:
min_max_scaler = preprocessing.MinMaxScaler()

# Create an object to transform the data to fit minmax processor
x_scaled = min_max_scaler.fit_transform(x.reshape(-1, 1))

# Run the normalizer on the dataframe
df_cd3['Maximum salary'] = x_scaled

In [46]:
df_cd3.head(5)

,Job Profile ID,Maximum salary,Ticket description,distance,talent,emploi,job_permanent,job_temp,sector_contract,sector_permanent,...,reason2_Not interested in the role,reason2_Outdated Information,reason2_Outdated Information; Location,reason2_Outdated Information; Mismatch Role Type,reason2_Practice Area,reason2_Role seniority,reason2_Salary,reason2_Salary; Outdated Information,reason2_Working Style,reason2_Working Style; Location
0,1001673.0,0.276812,Hi MarjaThank you for your email.Unforunately ...,30.823440,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,981427.0,0.461456,"Hi Marja,Thank you very much for your email an...",19.910579,2,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,992139.0,0.461456,"Hi Maria,Apologies for the late reply but I've...",11.442704,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1158349.0,0.538391,"Hi Marja, My apologies for not coming back to ...",14.457553,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,985828.0,0.338360,"Hi Maria,I am not sure if my skills are enough...",12.895455,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
df_cd3.distance = df_cd3.distance.round(2)

In [48]:
df_cd3.head(5)

,Job Profile ID,Maximum salary,Ticket description,distance,talent,emploi,job_permanent,job_temp,sector_contract,sector_permanent,...,reason2_Not interested in the role,reason2_Outdated Information,reason2_Outdated Information; Location,reason2_Outdated Information; Mismatch Role Type,reason2_Practice Area,reason2_Role seniority,reason2_Salary,reason2_Salary; Outdated Information,reason2_Working Style,reason2_Working Style; Location
0,1001673.0,0.276812,Hi MarjaThank you for your email.Unforunately ...,30.82,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,981427.0,0.461456,"Hi Marja,Thank you very much for your email an...",19.91,2,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,992139.0,0.461456,"Hi Maria,Apologies for the late reply but I've...",11.44,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1158349.0,0.538391,"Hi Marja, My apologies for not coming back to ...",14.46,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,985828.0,0.338360,"Hi Maria,I am not sure if my skills are enough...",12.90,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
del df_cd2
del df_cd

## Now for the more fun part or just the least boring
#### time for break??

In [51]:
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer,TfidfTransformer,CountVectorizer
nltk.download('stopwords')
from textblob import TextBlob

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\bluey\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [52]:
c_vec = TfidfVectorizer(ngram_range=(1,3), stop_words='english')
ngrams = c_vec.fit_transform(df_cd3['Ticket description'])
vocab = c_vec.vocabulary_
count_values = ngrams.toarray().sum(axis=0)
#for ng_count, ng_text in sorted([(count_values[i], k) for k, i in vocab.items()], reverse=True)[:10000]:
   # practice_area_words_categorized[a].update({ng_text: ng_count})

In [54]:
vocab

{'hi': 8896,
 'marjathank': 12948,
 'email': 5514,
 'unforunately': 18238,
 'birmingham': 3092,
 'far': 7838,
 'travel': 17926,
 'times': 17816,
 'closer': 3875,
 'nuneaton': 13680,
 'coventry': 4724,
 'contact': 4585,
 'kind': 11166,
 'regardsclaire': 15169,
 'warnersent': 18511,
 'samsung': 15972,
 'galaxy': 8182,
 'smartphone': 16451,
 'original': 14009,
 'message': 13112,
 'marja': 12827,
 'jump': 10491,
 'work': 18768,
 'verbon': 18370,
 'jumpwork': 10983,
 'uk': 18036,
 'date': 4917,
 '15': 475,
 '07': 97,
 '2019': 702,
 '09': 125,
 '38': 1260,
 'gmt': 8277,
 '00': 0,
 'claireywarner': 3791,
 'hotmail': 9462,
 'uksubject': 18119,
 'new': 13472,
 'opportunity': 13910,
 'legal': 11590,
 'administrator': 2189,
 'law': 11507,
 'b3': 2925,
 'claire': 3784,
 'hope': 9414,
 'just': 11017,
 'wondering': 18757,
 'received': 14875,
 'regarding': 14949,
 'role': 15574,
 'located': 11933,
 'successful': 16806,
 'company': 4419,
 'sector': 16118,
 'looking': 12093,
 'join': 10350,
 'offices': 13789,
 'profile': 14613,
 'reed': 14935,
 'experience': 5955,
 'like': 11744,
 'great': 8372,
 'fit': 7986,
 've': 18354,
 'added': 2156,
 'details': 5143,
 'job': 10207,
 'spec': 16613,
 'view': 18415,
 'https': 9550,
 'app': 2601,
 'campaign': 3434,
 '80be205b': 2038,
 'mandrillapp': 12558,
 'com': 3969,
 'track': 17903,
 'click': 3815,
 '30889660': 1169,
 'eyjzijoimwvlsm12weh0uvowofl1v3m0zxzgntfyetzjiiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwczpcxfwvxfxcl2fwcc5qdw1wlndvcmtcxfwvy2ftcgfpz25cxfwvodbiztiwnwjcxfwvdmlld1wilfwiawrcijpcijc4mzjiztiymgvkotq3ymvimjg3mwrhotdmmta1yjy5xcisxcj1cmxfawrzxci6w1win2ewndywnzi5nduzmde0nza4otfmyzm0mzi2mjmxmjk4mzvmnjqzm1wixx0ifq': 6662,
 'apply': 2618,
 'link': 11793,
 'complete': 4471,
 'online': 13835,
 'application': 2607,
 'talent': 17013,
 'managers': 12507,
 'touch': 17863,
 'wish': 18703,
 'discuss': 5242,
 'afraid': 2256,
 'schedule': 16017,
 'interviews': 10008,
 'phone': 14330,
 'accept': 2118,
 'applications': 2612,
 'process': 14594,
 'case': 3559,
 'interested': 9915,
 'opportunities': 13863,
 'sign': 16344,
 'eyjzijoix1rtlwfivvbpovfzmc0xmgf6ruvkafrxznzziiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwczpcxfwvxfxcl2fwcc5qdw1wlndvcmtcxfwvdgfszw50xfxcl3npz251cfwilfwiawrcijpcijc4mzjiztiymgvkotq3ymvimjg3mwrhotdmmta1yjy5xcisxcj1cmxfawrzxci6w1wiowi4ytkwnmnhnjawyjhimjeznjbiztuwy2zhndvmyjk2nty5mgy4nlwixx0ifq': 7568,
 'tell': 17238,
 'll': 11894,
 'hear': 8661,
 'relevant': 15381,
 'comes': 4368,
 'matches': 13007,
 'forward': 8086,
 'having': 8638,
 'onboard': 13828,
 'verbonps': 18381,
 'opt': 13998,
 'emails': 5746,
 'clicking': 3835,
 'eyjzijoiqunpx2wyaw5gmfdtd1q2z21jzmt6tthmmerjiiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwolxcxc9cxfwvbwfuzhjpbgxhchauy29txfxcl3ryywnrxfxcl3vuc3vilnbocd91ptmwodg5njywjmlkptc4mzjiztiymgvkotq3ymvimjg3mwrhotdmmta1yjy5llrnmurvbus5durvckclmkylmkjhtwz0ewuxmenzujglm0qmcj1odhrwcyuzqsuyriuyrmp1bxaud29yayuyrmnhbmrpzgf0zsuyrnvuc3vic2nyawjljtjgjtngbwrfzw1hawwlm0rjbgfpcmv5d2fybmvyjti1ndbob3rtywlslmnvlnvrxcisxcjpzfwiolwinzgzmmjlmjiwzwq5nddizwiyodcxzge5n2yxmdvinjlciixcinvybf9pzhncijpbxci4n2y5mjnmmtgyodzmyzk3odawytu3mddlytiwmmmzyta0ntawzme0xcjdfsj9': 6923,
 'note': 13642,
 'permanent': 14244,
 'head': 8649,
 'coo': 4686,
 'workwebsite': 19924,
 'www': 20132,
 'eyjzijoic1jfbe9kvzbjevdquy1iaxezq1hgcfhbvhhriiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwczpcxfwvxfxcl2p1bxaud29ya1xcxc9wcm9mzxnzaw9uywxzxcisxcjpzfwiolwinzgzmmjlmjiwzwq5nddizwiyodcxzge5n2yxmdvinjlciixcinvybf9pzhncijpbxci2ngzmythhmgnjotq2ztbimzzmyzrhmdiynmy3zmvjyza4zdmznwy1xcjdfsj9': 6174,
 'trading': 17909,
 'staff': 16650,
 'registered': 15367,
 'number': 13669,
 '09942347': 174,
 'england': 5831,
 'wales': 18469,
 'francis': 8108,
 'house': 9521,
 '11': 336,
 'street': 16719,
 'london': 11998,
 'sw1p': 16901,
 '1de': 651,
 '020': 64,
 '3011': 1161,
 '3170body': 1200,
 'hi marjathank': 9176,
 'marjathank email': 12953,
 'email unforunately': 5718,
 'unforunately birmingham': 18239,
 'birmingham far': 3102,
 'far travel': 7855,
 'travel times': 17958,
 'times closer': 17817,
 'closer nuneaton': 3881,
 'nuneaton coventry': 13681,
 'coventry contact': 4725,
 'contact kind': 4595,
 'kind regardsclaire': 11233,
 'regardsclaire warnersent': 15172,
 'warnersent samsung': 18512,
 'samsung galaxy': 15973,
 'galaxy smartphone': 8185,
 'smartphone original': 16452,
 'original message': 14010,
 'message marja': 13117,
 'marja jump': 12863,
 'jump work': 10496,
 'work marja': 19795,
 'marja verbon': 12901,
 'verbon jumpwork': 18373,
 'jumpwork uk': 10984,
 'uk date': 18045,
 'date 15': 4920,
 '15 07': 480,
 '07 2019': 100,
 '2019 09': 709,
 '09 38': 130,
 '38 gmt': 1267,
 'gmt 00': 8278,
 '00 00': 1,
 '00 claireywarner': 17,
 'claireywarner hotmail': 3792,
 'hotmail uksubject': 9488,
 'uksubject new': 18128,
 'new opportunity': 13524,
 'opportunity legal': 13945,
 'legal administrator': 11591,
 'administrator administrator': 2190,
 'administrator law': 2204,
 'law birmingham': 11510,
 'birmingham b3': 3096,
 'b3 hi': 2928,
 'hi claire': 8973,
 'claire hope': 3785,
 'hope just': 9426,
 'just wondering': 11060,
 'wondering received': 18760,
 'received email': 14876,
 'email regarding': 5653,
 'regarding legal': 14968,
 'administrator role': 2216,
 'role located': 15667,
 'located birmingham': 11934,
 'b3 successful': 2933,
 'successful company': 16809,
 'company law': 4432,
 'law sector': 11540,
 'sector looking': 16125,
 'looking new': 12167,
 'new administrator': 13475,
 'administrator join': 2201,
 'join offices': 10353,
 'offices profile': 13790,
 'profile reed': 14623,
 'reed experience': 14936,
 'experience like': 5964,
 'like great': 11753,
 'great fit': 8375,
 'fit role': 7993,
 'role ve': 15779,
 've added': 18355,
 'added details': 2157,
 'details job': 5150,
 'job spec': 10286,
 'spec view': 16620,
 'view https': 18418,
 'https app': 9555,
 'app jump': 2602,
 'work campaign': 18802,
 'campaign 80be205b': 3464,
 '80be205b view': 2039,
 'https mandrillapp': 9563,
 'mandrillapp com': 12559,
 'com track': 4344,
 'track click': 17904,
 'click 30889660': 3816,
 '30889660 app': 1170,
 'work eyjzijoimwvlsm12weh0uvowofl1v3m0zxzgntfyetzjiiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwczpcxfwvxfxcl2fwcc5qdw1wlndvcmtcxfwvy2ftcgfpz25cxfwvodbiztiwnwjcxfwvdmlld1wilfwiawrcijpcijc4mzjiztiymgvkotq3ymvimjg3mwrhotdmmta1yjy5xcisxcj1cmxfawrzxci6w1win2ewndywnzi5nduzmde0nza4otfmyzm0mzi2mjmxmjk4mzvmnjqzm1wixx0ifq': 19192,
 'eyjzijoimwvlsm12weh0uvowofl1v3m0zxzgntfyetzjiiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwczpcxfwvxfxcl2fwcc5qdw1wlndvcmtcxfwvy2ftcgfpz25cxfwvodbiztiwnwjcxfwvdmlld1wilfwiawrcijpcijc4mzjiztiymgvkotq3ymvimjg3mwrhotdmmta1yjy5xcisxcj1cmxfawrzxci6w1win2ewndywnzi5nduzmde0nza4otfmyzm0mzi2mjmxmjk4mzvmnjqzm1wixx0ifq apply': 6663,
 'apply role': 2637,
 'role link': 15662,
 'link complete': 11796,
 'complete online': 4472,
 'online application': 13836,
 'application talent': 2610,
 'talent managers': 17016,
 'managers touch': 12508,
 'touch wish': 17884,
 'wish discuss': 18708,
 'discuss role': 5251,
 'role afraid': 15583,
 'afraid schedule': 2271,
 'schedule interviews': 16018,
 'interviews email': 10009,
 'email phone': 5634,
 'phone accept': 14331,
 'accept applications': 2119,
 'applications role': 2613,
 'role online': 15708,
 'application process': 2608,
 'process case': 14595,
 'case role': 3568,
 'role looking': 15684,
 'looking interested': 12126,
 'interested opportunities': 9951,
 'opportunities sign': 13895,
 'sign jump': 16345,
 'work https': 19748,
 'work eyjzijoix1rtlwfivvbpovfzmc0xmgf6ruvkafrxznzziiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwczpcxfwvxfxcl2fwcc5qdw1wlndvcmtcxfwvdgfszw50xfxcl3npz251cfwilfwiawrcijpcijc4mzjiztiymgvkotq3ymvimjg3mwrhotdmmta1yjy5xcisxcj1cmxfawrzxci6w1wiowi4ytkwnmnhnjawyjhimjeznjbiztuwy2zhndvmyjk2nty5mgy4nlwixx0ifq': 19638,
 'eyjzijoix1rtlwfivvbpovfzmc0xmgf6ruvkafrxznzziiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwczpcxfwvxfxcl2fwcc5qdw1wlndvcmtcxfwvdgfszw50xfxcl3npz251cfwilfwiawrcijpcijc4mzjiztiymgvkotq3ymvimjg3mwrhotdmmta1yjy5xcisxcj1cmxfawrzxci6w1wiowi4ytkwnmnhnjawyjhimjeznjbiztuwy2zhndvmyjk2nty5mgy4nlwixx0ifq tell': 7569,
 'tell looking': 17241,
 'looking ll': 12149,
 'll hear': 11899,
 'hear relevant': 8664,
 'relevant opportunity': 15382,
 'opportunity comes': 13923,
 'comes matches': 4375,
 'matches profile': 13008,
 'profile looking': 14620,
 'looking forward': 12121,
 'forward having': 8087,
 'having onboard': 8639,
 'onboard marja': 13829,
 'marja verbonps': 12907,
 'verbonps case': 18382,
 'case looking': 3564,
 'opportunity opt': 13960,
 'opt emails': 13999,
 'emails clicking': 5749,
 'clicking https': 3838,
 '30889660 mandrillapp': 1174,
 'com eyjzijoiqunpx2wyaw5gmfdtd1q2z21jzmt6tthmmerjiiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwolxcxc9cxfwvbwfuzhjpbgxhchauy29txfxcl3ryywnrxfxcl3vuc3vilnbocd91ptmwodg5njywjmlkptc4mzjiztiymgvkotq3ymvimjg3mwrhotdmmta1yjy5llrnmurvbus5durvckclmkylmkjhtwz0ewuxmenzujglm0qmcj1odhrwcyuzqsuyriuyrmp1bxaud29yayuyrmnhbmrpzgf0zsuyrnvuc3vic2nyawjljtjgjtngbwrfzw1hawwlm0rjbgfpcmv5d2fybmvyjti1ndbob3rtywlslmnvlnvrxcisxcjpzfwiolwinzgzmmjlmjiwzwq5nddizwiyodcxzge5n2yxmdvinjlciixcinvybf9pzhncijpbxci4n2y5mjnmmtgyodzmyzk3odawytu3mddlytiwmmmzyta0ntawzme0xcjdfsj9': 4134,
 'eyjzijoiqunpx2wyaw5gmfdtd1q2z21jzmt6tthmmerjiiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwolxcxc9cxfwvbwfuzhjpbgxhchauy29txfxcl3ryywnrxfxcl3vuc3vilnbocd91ptmwodg5njywjmlkptc4mzjiztiymgvkotq3ymvimjg3mwrhotdmmta1yjy5llrnmurvbus5durvckclmkylmkjhtwz0ewuxmenzujglm0qmcj1odhrwcyuzqsuyriuyrmp1bxaud29yayuyrmnhbmrpzgf0zsuyrnvuc3vic2nyawjljtjgjtngbwrfzw1hawwlm0rjbgfpcmv5d2fybmvyjti1ndbob3rtywlslmnvlnvrxcisxcjpzfwiolwinzgzmmjlmjiwzwq5nddizwiyodcxzge5n2yxmdvinjlciixcinvybf9pzhncijpbxci4n2y5mjnmmtgyodzmyzk3odawytu3mddlytiwmmmzyta0ntawzme0xcjdfsj9 note': 6924,
 'note permanent': 13645,
 'permanent head': 14247,
 'head talent': 8652,
 'talent coo': 17014,
 'coo jump': 4687,
 'jump workwebsite': 10981,
 'workwebsite www': 19925,
 'www jump': 20139,
 '30889660 jump': 1172,
 'work eyjzijoic1jfbe9kvzbjevdquy1iaxezq1hgcfhbvhhriiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwczpcxfwvxfxcl2p1bxaud29ya1xcxc9wcm9mzxnzaw9uywxzxcisxcjpzfwiolwinzgzmmjlmjiwzwq5nddizwiyodcxzge5n2yxmdvinjlciixcinvybf9pzhncijpbxci2ngzmythhmgnjotq2ztbimzzmyzrhmdiynmy3zmvjyza4zdmznwy1xcjdfsj9': 18936,
 'eyjzijoic1jfbe9kvzbjevdquy1iaxezq1hgcfhbvhhriiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwczpcxfwvxfxcl2p1bxaud29ya1xcxc9wcm9mzxnzaw9uywxzxcisxcjpzfwiolwinzgzmmjlmjiwzwq5nddizwiyodcxzge5n2yxmdvinjlciixcinvybf9pzhncijpbxci2ngzmythhmgnjotq2ztbimzzmyzrhmdiynmy3zmvjyza4zdmznwy1xcjdfsj9 jump': 6175,
 'work trading': 19844,
 'trading jump': 17910,
 'jump staff': 10492,
 'staff registered': 16651,
 'registered company': 15368,
 'company number': 4439,
 'number 09942347': 13672,
 '09942347 england': 175,
 'england wales': 5837,
 'wales francis': 18470,
 'francis house': 8109,
 'house 11': 9522,
 '11 francis': 363,
 'francis street': 8111,
 'street london': 16720,
 'london england': 12015,
 'england sw1p': 5834,
 'sw1p 1de': 16902,
 '1de 020': 652,
 '020 3011': 65,
 '3011 3170body': 1165,
 'hi marjathank email': 9179,
 'marjathank email unforunately': 12965,
 'email unforunately birmingham': 5719,
 'unforunately birmingham far': 18240,
 'birmingham far travel': 3104,
 'far travel times': 7863,
 'travel times closer': 17959,
 'times closer nuneaton': 17818,
 'closer nuneaton coventry': 3882,
 'nuneaton coventry contact': 13682,
 'coventry contact kind': 4726,
 'contact kind regardsclaire': 4597,
 'kind regardsclaire warnersent': 11234,
 'regardsclaire warnersent samsung': 15173,
 'warnersent samsung galaxy': 18513,
 'samsung galaxy smartphone': 15975,
 'galaxy smartphone original': 8186,
 'smartphone original message': 16453,
 'original message marja': 14011,
 'message marja jump': 13118,
 'marja jump work': 12864,
 'jump work marja': 10968,
 'work marja verbon': 19796,
 'marja verbon jumpwork': 12903,
 'verbon jumpwork uk': 18374,
 'jumpwork uk date': 10986,
 'uk date 15': 18047,
 'date 15 07': 4921,
 '15 07 2019': 481,
 '07 2019 09': 101,
 '2019 09 38': 712,
 '09 38 gmt': 131,
 '38 gmt 00': 1268,
 'gmt 00 00': 8279,
 '00 00 claireywarner': 4,
 '00 claireywarner hotmail': 18,
 'claireywarner hotmail uksubject': 3793,
 'hotmail uksubject new': 9492,
 'uksubject new opportunity': 18129,
 'new opportunity legal': 13530,
 'opportunity legal administrator': 13946,
 'legal administrator administrator': 11592,
 'administrator administrator law': 2193,
 'administrator law birmingham': 2205,
 'law birmingham b3': 11511,
 'birmingham b3 hi': 3098,
 'b3 hi claire': 2929,
 'hi claire hope': 8974,
 'claire hope just': 3786,
 'hope just wondering': 9427,
 'just wondering received': 11062,
 'wondering received email': 18761,
 'received email regarding': 14878,
 'email regarding legal': 5663,
 'regarding legal administrator': 14969,
 'administrator administrator role': 2195,
 'administrator role located': 2217,
 'role located birmingham': 15668,
 'located birmingham b3': 11935,
 'birmingham b3 successful': 3099,
 'b3 successful company': 2934,
 'successful company law': 16813,
 'company law sector': 4433,
 'law sector looking': 11541,
 'sector looking new': 16127,
 'looking new administrator': 12169,
 'new administrator join': 13476,
 'administrator join offices': 2202,
 'join offices profile': 10354,
 'offices profile reed': 13792,
 'profile reed experience': 14624,
 'reed experience like': 14937,
 'experience like great': 5965,
 'like great fit': 11754,
 'great fit role': 8376,
 'fit role ve': 7996,
 'role ve added': 15780,
 've added details': 18356,
 'added details job': 2158,
 'details job spec': 5151,
 'job spec view': 10290,
 'spec view https': 16621,
 'view https app': 18419,
 'https app jump': 9556,
 'app jump work': 2603,
 'jump work campaign': 10499,
 'work campaign 80be205b': 18814,
 'campaign 80be205b view': 3465,
 '80be205b view https': 2041,
 'view https mandrillapp': 18422,
 'https mandrillapp com': 9564,
 'mandrillapp com track': 12714,
 'com track click': 4345,
 'track click 30889660': 17905,
 'click 30889660 app': 3817,
 '30889660 app jump': 1171,
 'jump work eyjzijoimwvlsm12weh0uvowofl1v3m0zxzgntfyetzjiiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwczpcxfwvxfxcl2fwcc5qdw1wlndvcmtcxfwvy2ftcgfpz25cxfwvodbiztiwnwjcxfwvdmlld1wilfwiawrcijpcijc4mzjiztiymgvkotq3ymvimjg3mwrhotdmmta1yjy5xcisxcj1cmxfawrzxci6w1win2ewndywnzi5nduzmde0nza4otfmyzm0mzi2mjmxmjk4mzvmnjqzm1wixx0ifq': 10680,
 'work eyjzijoimwvlsm12weh0uvowofl1v3m0zxzgntfyetzjiiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwczpcxfwvxfxcl2fwcc5qdw1wlndvcmtcxfwvy2ftcgfpz25cxfwvodbiztiwnwjcxfwvdmlld1wilfwiawrcijpcijc4mzjiztiymgvkotq3ymvimjg3mwrhotdmmta1yjy5xcisxcj1cmxfawrzxci6w1win2ewndywnzi5nduzmde0nza4otfmyzm0mzi2mjmxmjk4mzvmnjqzm1wixx0ifq apply': 19193,
 'eyjzijoimwvlsm12weh0uvowofl1v3m0zxzgntfyetzjiiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwczpcxfwvxfxcl2fwcc5qdw1wlndvcmtcxfwvy2ftcgfpz25cxfwvodbiztiwnwjcxfwvdmlld1wilfwiawrcijpcijc4mzjiztiymgvkotq3ymvimjg3mwrhotdmmta1yjy5xcisxcj1cmxfawrzxci6w1win2ewndywnzi5nduzmde0nza4otfmyzm0mzi2mjmxmjk4mzvmnjqzm1wixx0ifq apply role': 6664,
 'apply role link': 2639,
 'role link complete': 15663,
 'link complete online': 11797,
 'complete online application': 4473,
 'online application talent': 13838,
 'application talent managers': 2611,
 'talent managers touch': 17017,
 'managers touch wish': 12509,
 'touch wish discuss': 17885,
 'wish discuss role': 18709,
 'discuss role afraid': 5252,
 'role afraid schedule': 15584,
 'afraid schedule interviews': 2272,
 'schedule interviews email': 16019,
 'interviews email phone': 10010,
 'email phone accept': 5635,
 'phone accept applications': 14332,
 'accept applications role': 2120,
 'applications role online': 2614,
 'role online application': 15709,
 'online application process': 13837,
 'application process case': 2609,
 'process case role': 14596,
 'case role looking': 3569,
 'role looking interested': 15685,
 'looking interested opportunities': 12127,
 'interested opportunities sign': 9954,
 'opportunities sign jump': 13896,
 'sign jump work': 16346,
 'jump work https': 10963,
 'work https mandrillapp': 19752,
 'jump work eyjzijoix1rtlwfivvbpovfzmc0xmgf6ruvkafrxznzziiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwczpcxfwvxfxcl2fwcc5qdw1wlndvcmtcxfwvdgfszw50xfxcl3npz251cfwilfwiawrcijpcijc4mzjiztiymgvkotq3ymvimjg3mwrhotdmmta1yjy5xcisxcj1cmxfawrzxci6w1wiowi4ytkwnmnhnjawyjhimjeznjbiztuwy2zhndvmyjk2nty5mgy4nlwixx0ifq': 10912,
 'work eyjzijoix1rtlwfivvbpovfzmc0xmgf6ruvkafrxznzziiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwczpcxfwvxfxcl2fwcc5qdw1wlndvcmtcxfwvdgfszw50xfxcl3npz251cfwilfwiawrcijpcijc4mzjiztiymgvkotq3ymvimjg3mwrhotdmmta1yjy5xcisxcj1cmxfawrzxci6w1wiowi4ytkwnmnhnjawyjhimjeznjbiztuwy2zhndvmyjk2nty5mgy4nlwixx0ifq tell': 19639,
 'eyjzijoix1rtlwfivvbpovfzmc0xmgf6ruvkafrxznzziiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwczpcxfwvxfxcl2fwcc5qdw1wlndvcmtcxfwvdgfszw50xfxcl3npz251cfwilfwiawrcijpcijc4mzjiztiymgvkotq3ymvimjg3mwrhotdmmta1yjy5xcisxcj1cmxfawrzxci6w1wiowi4ytkwnmnhnjawyjhimjeznjbiztuwy2zhndvmyjk2nty5mgy4nlwixx0ifq tell looking': 7570,
 'tell looking ll': 17242,
 'looking ll hear': 12150,
 'll hear relevant': 11900,
 'hear relevant opportunity': 8665,
 'relevant opportunity comes': 15383,
 'opportunity comes matches': 13924,
 'comes matches profile': 4376,
 'matches profile looking': 13009,
 'profile looking forward': 14621,
 'looking forward having': 12122,
 'forward having onboard': 8088,
 'having onboard marja': 8640,
 'onboard marja verbonps': 13831,
 'marja verbonps case': 12908,
 'verbonps case looking': 18383,
 'case looking new': 3565,
 'looking new opportunity': 12185,
 'new opportunity opt': 13534,
 'opportunity opt emails': 13961,
 'opt emails clicking': 14000,
 'emails clicking https': 5751,
 'clicking https mandrillapp': 3842,
 'click 30889660 mandrillapp': 3819,
 '30889660 mandrillapp com': 1175,
 'mandrillapp com eyjzijoiqunpx2wyaw5gmfdtd1q2z21jzmt6tthmmerjiiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwolxcxc9cxfwvbwfuzhjpbgxhchauy29txfxcl3ryywnrxfxcl3vuc3vilnbocd91ptmwodg5njywjmlkptc4mzjiztiymgvkotq3ymvimjg3mwrhotdmmta1yjy5llrnmurvbus5durvckclmkylmkjhtwz0ewuxmenzujglm0qmcj1odhrwcyuzqsuyriuyrmp1bxaud29yayuyrmnhbmrpzgf0zsuyrnvuc3vic2nyawjljtjgjtngbwrfzw1hawwlm0rjbgfpcmv5d2fybmvyjti1ndbob3rtywlslmnvlnvrxcisxcjpzfwiolwinzgzmmjlmjiwzwq5nddizwiyodcxzge5n2yxmdvinjlciixcinvybf9pzhncijpbxci4n2y5mjnmmtgyodzmyzk3odawytu3mddlytiwmmmzyta0ntawzme0xcjdfsj9': 12631,
 'com eyjzijoiqunpx2wyaw5gmfdtd1q2z21jzmt6tthmmerjiiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwolxcxc9cxfwvbwfuzhjpbgxhchauy29txfxcl3ryywnrxfxcl3vuc3vilnbocd91ptmwodg5njywjmlkptc4mzjiztiymgvkotq3ymvimjg3mwrhotdmmta1yjy5llrnmurvbus5durvckclmkylmkjhtwz0ewuxmenzujglm0qmcj1odhrwcyuzqsuyriuyrmp1bxaud29yayuyrmnhbmrpzgf0zsuyrnvuc3vic2nyawjljtjgjtngbwrfzw1hawwlm0rjbgfpcmv5d2fybmvyjti1ndbob3rtywlslmnvlnvrxcisxcjpzfwiolwinzgzmmjlmjiwzwq5nddizwiyodcxzge5n2yxmdvinjlciixcinvybf9pzhncijpbxci4n2y5mjnmmtgyodzmyzk3odawytu3mddlytiwmmmzyta0ntawzme0xcjdfsj9 note': 4135,
 'eyjzijoiqunpx2wyaw5gmfdtd1q2z21jzmt6tthmmerjiiwidii6mswicci6intcinvcijozmdg4oty2mcxcinzcijoxlfwidxjsxci6xcjodhrwolxcxc9cxfwvbwfuzhjpbgxhchauy29txfxcl3ryywnrxfxcl3vuc3vilnbocd91ptmwodg5njywjmlkptc4mzjiztiymgvkotq3ymvimjg3mwrhotdmmta1yjy5llrnmurvbus5durvckclmkylmkjhtwz0ewuxmenzujglm0qmcj1odhrwcyuzqsuyriuyrmp1bxaud29yayuyrmnhbmrpzgf0zsuyrnvuc3vic2nyawjljtjgjtngbwrfzw1hawwlm0rjbgfpcmv5d2fybmvyjti1ndbob3rtywlslmnvlnvrxcisxcjpzfwiolwinzgzmmjlmjiwzwq5nddizwiyodcxzge5n2yxmdvinjlciixcinvybf9pzhncijpbxci4n2y5mjnmmtgyodzmyzk3odawytu3mddlytiwmmmzyta0ntawzme0xcjdfsj9 note permanent': 6925,

In [55]:
remove = []
for j,i in enumerate(vocab):
    if len(i)> 50:
        remove.append(j)
#remove = [str(i) for i in remove]

In [261]:
remove

[78,
 100,
 114,
 121,
 231,
 232,
 262,
 263,
 285,
 286,
 296,
 297,
 415,
 416,
 417,
 449,
 450,
 451,
 476,
 477,
 478,
 489,
 490,
 491,
 553,
 560,
 562,
 574,
 641,
 642,
 651,
 652,
 657,
 658,
 675,
 746,
 747,
 748,
 757,
 758,
 759,
 765,
 766,
 767,
 788,
 843,
 844,
 845,
 846,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1045,
 1046,
 1047,
 1163,
 1164,
 1166,
 1168,
 1191,
 1192,
 1193,
 1194,
 1197,
 1198,
 1201,
 1202,
 1230,
 1231,
 1232,
 1233,
 1234,
 1235,
 1240,
 1241,
 1242,
 1247,
 1248,
 1249,
 1387,
 1394,
 1397,
 1399,
 1436,
 1437,
 1451,
 1452,
 1455,
 1456,
 1460,
 1461,
 1511,
 1512,
 1513,
 1530,
 1531,
 1532,
 1535,
 1536,
 1537,
 1542,
 1543,
 1544,
 1554,
 1555,
 1556,
 1557,
 1582,
 1583,
 1584,
 1585,
 1586,
 1587,
 1588,
 1589,
 1626,
 1627,
 1628,
 1629,
 1630,
 1631,
 1632,
 1633,
 1634,
 1635,
 1636,
 1637,
 1663,
 1664,
 1665,
 1666,
 1696,
 1697,
 1698,
 1699,
 1700,
 1701,
 1703,
 1741,
 1742,
 1743,
 1744,
 1745,
 1746,
 1747,
 1748,
 1749,
 1752,
 1776,
 1777,
 1778,
 1779,
 1817,
 1818,
 1819,
 1820,
 1821,
 1822,
 1823,
 1824,
 1870,
 1871,
 1872,
 1873,
 1874,
 1875,
 1876,
 1877,
 1878,
 1879,
 1880,
 1881,
 1973,
 1974,
 1975,
 1976,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2026,
 2027,
 2028,
 2029,
 2030,
 2031,
 2032,
 2033,
 2034,
 2035,
 2047,
 2048,
 2049,
 2050,
 2075,
 2076,
 2077,
 2078,
 2079,
 2080,
 2081,
 2082,
 2112,
 2113,
 2114,
 2115,
 2116,
 2117,
 2118,
 2119,
 2120,
 2121,
 2122,
 2123,
 2231,
 2232,
 2233,
 2234,
 2276,
 2277,
 2278,
 2279,
 2282,
 2283,
 2285,
 2286,
 2333,
 2334,
 2335,
 2336,
 2337,
 2338,
 2341,
 2342,
 2343,
 2347,
 2348,
 2349,
 2368,
 2369,
 2370,
 2371,
 2400,
 2401,
 2402,
 2403,
 2404,
 2405,
 2406,
 2407,
 2440,
 2441,
 2442,
 2443,
 2444,
 2445,
 2446,
 2447,
 2448,
 2449,
 2450,
 2451,
 2463,
 2464,
 2466,
 2470,
 2500,
 2501,
 2502,
 2503,
 2506,
 2507,
 2514,
 2552,
 2553,
 2554,
 2555,
 2556,
 2557,
 2561,
 2562,
 2563,
 2573,
 2578,
 2579,
 2580,
 2581,
 2593,
 2594,
 2595,
 2596,
 2597,
 2598,
 2599,
 2600,
 2618,
 2619,
 2620,
 2621,
 2622,
 2623,
 2624,
 2625,
 2626,
 2627,
 2628,
 2629,
 2640,
 2641,
 2642,
 2643,
 2675,
 2676,
 2677,
 2678,
 2679,
 2680,
 2681,
 2682,
 2723,
 2724,
 2725,
 2726,
 2727,
 2728,
 2729,
 2730,
 2731,
 2732,
 2733,
 2734,
 2786,
 2787,
 2788,
 2789,
 2798,
 2799,
 2800,
 2801,
 2802,
 2803,
 2804,
 2805,
 2815,
 2816,
 2817,
 2818,
 2819,
 2820,
 2821,
 2822,
 2823,
 2824,
 2825,
 2826,
 2831,
 2832,
 2833,
 2834,
 2848,
 2849,
 2850,
 2851,
 2852,
 2853,
 2854,
 2855,
 2872,
 2873,
 2874,
 2875,
 2876,
 2877,
 2878,
 2879,
 2880,
 2881,
 2882,
 2883,
 2903,
 2917,
 2922,
 2928,
 2968,
 2969,
 2987,
 2988,
 2998,
 2999,
 3008,
 3009,
 3060,
 3061,
 3062,
 3082,
 3083,
 3084,
 3098,
 3099,
 3100,
 3112,
 3113,
 3114,
 3205,
 3206,
 3207,
 3208,
 3228,
 3229,
 3230,
 3231,
 3232,
 3233,
 3234,
 3235,
 3258,
 3259,
 3260,
 3261,
 3262,
 3263,
 3264,
 3265,
 3266,
 3267,
 3268,
 3269,
 4058,
 4060,
 4062,
 4064,
 4066,
 4068,
 4070,
 4072,
 4198,
 4199,
 4200,
 4201,
 4209,
 4210,
 4211,
 4212,
 4213,
 4214,
 4215,
 4216,
 4225,
 4226,
 4227,
 4228,
 4229,
 4230,
 4231,
 4232,
 4233,
 4234,
 4235,
 4236,
 4253,
 4254,
 4255,
 4256,
 4286,
 4287,
 4288,
 4289,
 4290,
 4291,
 4292,
 4293,
 4328,
 4329,
 4330,
 4331,
 4332,
 4333,
 4334,
 4335,
 4336,
 4337,
 4338,
 4339,
 4423,
 4424,
 4425,
 4426,
 4448,
 4449,
 4450,
 4451,
 4452,
 4453,
 4454,
 4455,
 4480,
 4481,
 4482,
 4483,
 4484,
 4485,
 4486,
 4487,
 4488,
 4489,
 4490,
 4491,
 4497,
 4498,
 4499,
 4500,
 4517,
 4518,
 4519,
 4520,
 4521,
 4522,
 4523,
 4545,
 4546,
 4547,
 4548,
 4549,
 4550,
 4551,
 4552,
 4553,
 4554,
 4567,
 4568,
 4569,
 4570,
 4600,
 4601,
 4602,
 4603,
 4604,
 4605,
 4606,
 4607,
 4647,
 4648,
 4649,
 4650,
 4651,
 4652,
 4653,
 4654,
 4655,
 4656,
 4657,
 4658,
 4670,
 4671,
 4672,
 4673,
 4708,
 4709,
 4710,
 4711,
 4712,
 4713,
 4714,
 4715,
 4761,
 4762,
 4763,
 4764,
 4765,
 4766,
 4767,
 4768,
 4769,
 4770,
 4771,
 4772,
 4784,
 4785,
 4786,
 4787,
 4807,
 4808,
 4809,
 4810,
 4811,
 4812,
 4813,
 4814,
 4835,
 4836,
 4837,
 4838,
 4839,
 4840,
 4841,
 4842,
 4843,
 4844,
 4845,
 4846,
 4850,
 4851,
 4852,
 4853,
 4862,
 4863,
 4864,
 4865,
 4866,
 4867,
 4868,
 4869,
 4880,
 4881,
 4882,
 4883,
 4884,
 4885,
 4886,
 4887,
 4888,
 4889,
 4890,
 4891,
 4898,
 4899,
 4900,
 4901,
 4919,
 4920,
 4921,
 4922,
 4923,
 4924,
 4925,
 4926,
 4947,
 4948,
 4949,
 4950,
 4951,
 4952,
 4953,
 4954,
 4955,
 4956,
 4957,
 4958,
 5038,
 5039,
 5040,
 5041,
 5065,
 5066,
 5067,
 5068,
 5069,
 5070,
 5071,
 5072,
 5102,
 5103,
 5104,
 5105,
 5106,
 5107,
 5108,
 5109,
 5110,
 5111,
 5112,
 5113,
 5118,
 5119,
 5120,
 5121,
 5131,
 5132,
 5133,
 5134,
 5135,
 5136,
 5137,
 5138,
 5149,
 5150,
 5151,
 5152,
 5153,
 5154,
 5155,
 5156,
 5157,
 5158,
 5159,
 5160,
 5273,
 5274,
 5275,
 5276,
 5297,
 5298,
 5299,
 5300,
 5301,
 5302,
 5303,
 5304,
 5329,
 5330,
 5331,
 5332,
 5333,
 5334,
 5335,
 5336,
 5337,
 5338,
 5339,
 5340,
 5352,
 5353,
 5354,
 5355,
 5380,
 5381,
 5382,
 5383,
 5384,
 5385,
 5386,
 5387,
 5416,
 5417,
 5418,
 5419,
 5420,
 5421,
 5422,
 5423,
 5424,
 5425,
 5426,
 5427,
 5435,
 5436,
 5437,
 5438,
 5452,
 5453,
 5454,
 5455,
 5456,
 5457,
 5458,
 5477,
 5478,
 5479,
 5480,
 5481,
 5482,
 5483,
 5484,
 5485,
 5486,
 5523,
 5524,
 5525,
 5526,
 5536,
 5537,
 5538,
 5539,
 5540,
 5541,
 5542,
 5543,
 5557,
 5558,
 5559,
 5560,
 5561,
 5562,
 5563,
 5564,
 5565,
 5566,
 5567,
 5568,
 5624,
 5625,
 5626,
 5627,
 5632,
 5633,
 5634,
 5635,
 5636,
 5637,
 5638,
 5639,
 5644,
 5645,
 5646,
 5647,
 5648,
 5649,
 5650,
 5651,
 5652,
 5653,
 5654,
 5655,
 5660,
 5661,
 5662,
 5663,
 5673,
 5674,
 5675,
 5676,
 5677,
 5678,
 5679,
 5680,
 5693,
 5694,
 5695,
 5696,
 5697,
 5698,
 5699,
 5700,
 5701,
 5702,
 5703,
 5704,
 5716,
 5717,
 5718,
 5719,
 5742,
 5743,
 5744,
 5745,
 5746,
 5747,
 5748,
 5749,
 5775,
 5776,
 5777,
 5778,
 5779,
 5780,
 5781,
 5782,
 5783,
 5784,
 5785,
 5786,
 5790,
 5791,
 5792,
 5793,
 5801,
 5802,
 5803,
 5804,
 5805,
 5806,
 5807,
 5808,
 5819,
 5820,
 5821,
 5822,
 5823,
 5824,
 5825,
 5826,
 5827,
 5828,
 5829,
 5830,
 5837,
 5838,
 5839,
 5840,
 5860,
 5861,
 5862,
 5863,
 5864,
 5865,
 5866,
 5867,
 5892,
 5893,
 5894,
 5895,
 5896,
 5897,
 5898,
 5899,
 5900,
 5901,
 5902,
 5903,
 5908,
 5909,
 5910,
 5911,
 5921,
 5922,
 5923,
 5924,
 5925,
 5926,
 5927,
 5928,
 5939,
 5940,
 5941,
 5942,
 5943,
 5944,
 5945,
 5946,
 5947,
 5948,
 5949,
 5950,
 5992,
 5993,
 5994,
 5995,
 6013,
 6014,
 6015,
 6016,
 6017,
 6018,
 6019,
 6045,
 6046,
 6047,
 6048,
 6049,
 6050,
 6051,
 6052,
 6053,
 6054,
 6059,
 6060,
 6061,
 6062,
 6081,
 6082,
 6083,
 6084,
 6085,
 6086,
 6087,
 6113,
 6114,
 6115,
 6116,
 6117,
 6118,
 6119,
 6120,
 6121,
 6122,
 6132,
 6133,
 6134,
 6135,
 6149,
 6150,
 6151,
 6152,
 ...]

In [56]:
tfidf = pd.DataFrame(ngrams.todense())

0      0.054111
1      0.000000
2      0.000000
3      0.000000
4      0.000000
         ...
264    0.000000
265    0.000000
266    0.000000
267    0.000000
268    0.000000
Name: 1, Length: 269, dtype: float64

In [57]:
tfidf

,0,1,2,3,4,5,6,7,8,9,...,24429,24430,24431,24432,24433,24434,24435,24436,24437,24438
0,0.106116,0.054111,0.0,0.0,0.07768,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
265,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
266,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
267,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
268,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
tfidf.drop(columns= remove,axis=1, inplace=True)

In [59]:
pd.concat([df_cd3, tfidf.reindex(df_cd3.index)], axis=1)

,Job Profile ID,Maximum salary,Ticket description,distance,talent,emploi,job_permanent,job_temp,sector_contract,sector_permanent,...,24417,24418,24419,24420,24421,24422,24423,24424,24425,24426
0,1001673.0,0.276812,Hi MarjaThank you for your email.Unforunately ...,30.82,0,1,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,981427.0,0.461456,"Hi Marja,Thank you very much for your email an...",19.91,2,1,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,992139.0,0.461456,"Hi Maria,Apologies for the late reply but I've...",11.44,1,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1158349.0,0.538391,"Hi Marja, My apologies for not coming back to ...",14.46,0,1,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,985828.0,0.338360,"Hi Maria,I am not sure if my skills are enough...",12.90,0,1,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,986681.0,0.338360,"Hi Marja,I live in London so unfortunately, th...",-1.00,0,1,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
265,995954.0,0.353747,I am no longer working within the legal field ...,-1.00,0,1,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
266,757219.0,0.461456,Hi MarjaThank you for your email but I am afra...,14.27,1,1,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
267,983589.0,0.538391,"Hi Marja,I am currently on a contract at the m...",-1.00,0,1,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
268,757227.0,0.461456,"Hi Marja,Thank you for your email.Unfortunatel...",22.85,0,1,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
df = df_cd3.copy()

In [61]:
df_cd3 = df.copy()

for i in range(len(df_cd3['Ticket description'])):
    a = df_cd3['Ticket description'][i].split()
    for j in a:
        if len(j)>25:
            a.remove(j)
    df_cd3['Ticket description'][i] = " ".join(a)

## Lowercase all reviews
df_cd3['Ticket description'] = df_cd3['Ticket description'].apply(lambda x: " ".join(x.lower() for x in x.split()))

#df_cd3['Ticket description'] = df_cd3['Ticket description'].str.findall(r'[^\s!,./()-?&%":;0-9]+')
df_cd3['Ticket description'] = df_cd3['Ticket description'].str.replace('[^\w\s]','')

df_cd3['Ticket description'] = df_cd3['Ticket description'].str.replace('\d+', '')

C:\Users\bluey\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [62]:
df_cd3['Ticket description'][0]

'hi marjathank you for your emailunforunately birmingham is too far due to travel times but if you have anything closer to nuneatoncoventry then please contact mekind regardsclaire warnersent from my samsung galaxy smartphone original message from marja at jumpwork   gmtto re new opportunity legal administrator administrator law birmingham bhi clairei hope you are well i was just wondering whether you received my last email regarding the legal administrator administrator role located in birmingham b a successful company in the law sector is looking for a new administrator to join their officesi found your profile on reed your experience seems like a great fit for a roleive added further details on the job spec which you can view apply to this role please do so via the linkafter you complete the online application one of our talent managers will be in touch if they wish to discuss the role further with you im afraid we cant schedule any interviews via email or phone  we only accept applications for this role through the online application processin case this role is not what youre looking for but youre interested in other opportunities please sign up to and tell us what youre looking for youll hear from us when a relevant opportunity comes up that matches your profilelooking forward to having you onboardmarja verbonps in case youre not looking for a new opportunity you can opt out from emails by clicking  please note that this is permanenthead of talent  coo at jumpworkwebsite is trading as jump staff ltd registered under company number  in england and wales at francis house  francis street london england swp de call us on   body'

In [63]:
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer, WordNetLemmatizer, PorterStemmer
stop = stopwords.words('english')
df_cd3['Ticket description'] = df_cd3['Ticket description'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))


st = PorterStemmer()
df_cd3['Ticket description'] = df_cd3['Ticket description'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

In [64]:
def senti(x):
    return TextBlob(x).sentiment  

df_cd3['sent'] = df_cd3['Ticket description'].apply(senti)

In [87]:
df_cd3['sent2']= df_cd3['sent'].apply(lambda x: x[0])
df_cd3['sent']= df_cd3['sent'].apply(lambda x: x[1])

In [91]:
result = pd.concat([df_cd3, tfidf.reindex(df_cd3.index)], axis=1)

In [92]:
result

,Job Profile ID,Maximum salary,Ticket description,distance,talent,emploi,job_permanent,job_temp,sector_contract,sector_permanent,...,24417,24418,24419,24420,24421,24422,24423,24424,24425,24426
0,1001673.0,0.276812,hi marjathank emailunforun birmingham far due ...,30.82,0,1,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,981427.0,0.461456,hi marjathank much email consider unfortun ica...,19.91,2,1,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,992139.0,0.461456,hi mariaapolog late repli ive regain access em...,11.44,1,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1158349.0,0.538391,hi marja apolog come back sooner thank send im...,14.46,0,1,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,985828.0,0.338360,hi mariai sure skill enough itthank youczw lip...,12.90,0,1,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,986681.0,0.338360,hi marjai live london unfortun someth would in...,-1.00,0,1,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
265,995954.0,0.353747,longer work within legal field current looking...,-1.00,0,1,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
266,757219.0,0.461456,hi marjathank email afraid interest work insur...,14.27,1,1,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
267,983589.0,0.538391,hi marjai current contract moment look anyth p...,-1.00,0,1,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
268,757227.0,0.461456,hi marjathank emailunfortun im look financialp...,22.85,0,1,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [93]:
y= result.emploi

In [94]:
x.sent

0         (0.1403409090909091, 0.4379419191919192)
1        (0.31525974025974024, 0.4550324675324675)
2       (0.11212121212121212, 0.45336700336700336)
3       (0.22479338842975205, 0.40234159779614315)
4        (0.18585858585858583, 0.4905162738496071)
                          ...
264     (0.16060606060606059, 0.44225589225589224)
265      (0.1525252525252525, 0.40286195286195287)
266       (0.07090909090909092, 0.438030303030303)
267       (0.2474616292798111, 0.4536599763872491)
268    (0.034848484848484844, 0.40505050505050505)
Name: sent, Length: 269, dtype: object

In [95]:
from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import train_test_split

In [96]:
x=result.drop(['emploi', 'Ticket description', 'Job Profile ID'], axis=1)

In [99]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
model = DecisionTreeClassifier(max_depth=10)
model = model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         8
           1       0.85      0.96      0.90        46

    accuracy                           0.81        54
   macro avg       0.42      0.48      0.45        54
weighted avg       0.72      0.81      0.76        54

In [98]:
from sklearn.metrics import classification_report